/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}

#page {
    background-color: #000;
    color: #fff;
}

#page .actionBar {
    background-color: #000;
    color: #fff;
}

#search {
    font-size: 14;
    color: #fff;
    placeholder-color:#999;
    border-bottom-width: 1;
    border-color: #999;
}

#search.error {
    placeholder-color: crimson;
    border-color: crimson;
}

#list .list-group-item {
    color: #fff;
    margin: 0;
    padding: 6px 20px;
}

#list .number {
    color: #999;
    font-size: 14;
    margin-top: 5px;
}

#list .word {
    word-break: break-word;
    white-space: normal;
}

#list .strong {
    font-weight: bold;
    color: springgreen;
}

#list .error {
    color: crimson;
}
